POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

POSTGRES_DB_TEST=
POSTGRES_HOST_TEST=
POSTGRES_PORT_TEST=

LOG_LEVEL=INFO

SECRET_KEY=
ALGORITHM=HS25

ACCESS_TOKEN_EXPIRE_MINUTES=30

API_URL=http://backend:8000